// colors
$violet: #8A40E8;
$blue: #5069E8;
$grey: #777880;
$grey-light: #AAABB3;;

$dark: #2B2D33;
$dark-btn: #44454D;
$light: #ffffff;

$color-text: #5D5E66;
$color-text-small: #8F9199;
$color-text-light: #C4C5CC;

$color-btn: #5069E8;
$color-btn-hover: #2844CE;
$color-btn-disabled: #A1AFF4;

$color-btn-sec: #DFE0E5;
$color-btn-sec-hover: #C4C5CC;
$color-btn-sec-disabled: #F5F6FA;

// social
$color-twitter: #1DA1F2;
$color-facebook: #3B5998;
$color-imdb: #E6B91E;
